@keyframes rollingOutFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem) rotate(90deg);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes rollingOutFromRight {
  0% {
    opacity: 0;
    transform: translateX(15rem) rotate(90deg);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}
